@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap");

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Tiro Bangla", Arial, Helvetica, sans-serif;
  }
  body {
    max-width: 1535px;
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiro Bangla", Arial, Helvetica, sans-serif;
  font-weight: bold;
}


small {
  font-size: 12px;
  color: rgb(85, 85, 85);
}




/* Define your custom keyframes */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes pulse-scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* Define your animation utilities as custom classes */
.fade-up {
  animation: fade-up 1s ease forwards;
}
.float {
  animation: float 5s ease-in-out infinite;
}
.pulse-scale {
  animation: pulse-scale 2s infinite;
}

/* Add any other global styles below */